.App {
  text-align: center;
}
li{
  display :flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
}

.image-section{
  display: flex;
  flex-wrap: wrap;
  margin: 100px;
  justify-content: space-between;
  row-gap: 10px;
}